<!-- /snippets/home-content.liquid -->
{% if settings.home_page_content != blank %}
  <hr class="hr--clear">

  <div>
    <div class="rte text-center">
      <div class="how-it-works">
        <div class="how-it-works-component">
          <h2>1.</h2>
          <hr></hr>
          <h3>Discover Emerging Designers</h3>
          <p>Our designers put their exclusive, ready-to-be-produced designs on our website.</p>
        </div>
        <div class="how-it-works-component">
          <h2>2.</h2>
          <hr></hr>
          <h3>Pre-order Their Items</h3>
          <p>All designers have a limited amount of time to reach the campaign’s sales goal.</p>
        </div>
        <div class="how-it-works-component">
          <h2>3.</h2>
          <hr></hr>
          <h3>Wear your Unique Fashion</h3>
          <p>If the campaign is successful, the designer goes ahead with production and we deliver the order to your door.</p>
        </div>
        <a href="/pages/about-us"><button class="btn">LEARN MORE</button></a>
      </div>
  </div>
    <div class="rte text-center">
      <div class="designer-homepage-box left">
        <a href="http://mode-for-me.myshopify.com/collections/heidi-adele"><div class="designer-homepage-image one"></div></a>
        <h4>Collection</h4>
        <h2>HEIDI AND ADELE</h2>
        <p>Simple, elegant handbags and accessories made from eco-exotic® leather.</p>
        <a href="http://mode-for-me.myshopify.com/collections/heidi-adele"><button class="btn">DISCOVER</button></a>
      </div>
      <div class="designer-homepage-box right">
        <a href="http://mode-for-me.myshopify.com/collections/gung-ho"><div class="designer-homepage-image two"></div></a>
        <h4>Collection</h4>
        <h2>GUNG HO</h2>
        <p>Wear what you love, but also what you believe in. Brighter colours for a brighter future.</p>
        <a href="http://mode-for-me.myshopify.com/collections/gung-ho"><button class="btn">SHOP NOW</button></a>
      </div>
    </div>
  </div>
{% endif %}

{% comment %}
  Add bottom spacing if it's the last index section
{% endcomment %}
{% if section_number == number_of_index_sections %}
  <hr class="hr--clear">
{% endif %}
