<!-- /snippets/home-content.liquid -->
{% if settings.home_page_content != blank %}
  <hr class="hr--clear">

  <div>
    <div class="rte text-center">
      <div class="how-it-works">
        <h2>How it Works</h2>
        <div class="how-it-works-component"><img src="http://paintandpattern.com/wp-content/uploads/2014/07/royal-design-studio-designs-manufactures-wall-stencils.jpg" />
          <h3>Discover Emerging Designers</h3>
          <p>Our designers put their exclusive, ready-to-be-produced designs on our website.</p>
        </div>
        <div class="how-it-works-component"><img src="http://paintandpattern.com/wp-content/uploads/2014/07/royal-design-studio-designs-manufactures-wall-stencils.jpg" />
          <h3>Pre-order Their Items</h3>
          <p>All designers have a limited amount of time to reach the campaign’s sales goal.</p>
        </div>
        <div class="how-it-works-component"><img src="http://paintandpattern.com/wp-content/uploads/2014/07/royal-design-studio-designs-manufactures-wall-stencils.jpg" />
          <h3>Wear your Unique Fashion</h3>
          <p>If the campaign is successful, the designer goes ahead with production and we deliver the order to your door.</p>
        </div>
        <a href="/pages/about-us"><button class="btn">LEARN MORE</button></a>
      </div>
  </div>
    <div class="rte text-center">
      <div class="designer-homepage-box left">
        <div class="designer-homepage-image one"></div>
        <h4>Collection</h4>
        <h2>DESIGNER NAME</h2>
        <p>Super-beautiful designs, inspired by ecology and the world around them.</p>
        <button class="btn">DISCOVER</button>
      </div>
      <div class="designer-homepage-box right">
        <div class="designer-homepage-image two"></div>
        <h4>Collection</h4>
        <h2>DESIGNER NAME</h2>
        <p>Super-beautiful designs, inspired by ecology and the world around them.</p>
        <button class="btn">SHOP NOW</button>
      </div>
    </div>
  </div>
{% endif %}

{% comment %}
  Add bottom spacing if it's the last index section
{% endcomment %}
{% if section_number == number_of_index_sections %}
  <hr class="hr--clear">
{% endif %}
